*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    
}
/* css for body  */
body{ 
     font-family: "IBM Plex Sans", sans-serif; 
     background-color: #dce0e5;
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("images/mainBackground.png");
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     height: 125vh;
     position: relative;
}

/* css for nav  */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4vh 9vw;
}

.nav-left img{
    width: 90px;
}

/* css for navigation menu  */
.nav-list{
    display: flex;
    list-style: none;
    gap: 4vw;
    padding-right: 4vw;
}

.nav-list li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.horizontal-line{
    width: 85vw;
    margin: 0px auto;
    margin-top: -10px;
}

.header-description{
    color: white;
    gap: 20px;
    display: flex;
    flex-direction: column;
    width: 60vw;
    margin: 9vh 9vW;
}

.header-description h1{
    font-size: 60px;
}

.header-description p{
    font-size: 16px;
}
.header-description button{
    background-color: #6663e9;
    border: none;
    border-radius: 20px;
    width: 10vw;
    height: 6vh;
    color: white;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.logo-images{
    width: 92vw;
    background-color: #ffffff;
    border-radius: 10px;
    z-index: 4;
    padding: 20px 40px;
    position: absolute;
    bottom: -35px;
     display: block;
     margin-left: 50px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.logo-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

 /* writing css for main of RealEstate page  */
.grid-title h1{
margin: 5vw auto;
text-align: center;
font-size: 4em;
}

.first-row, .second-row, .third-row{
    display: flex;
    justify-content: space-between;
    margin: -30px 3vw;
    flex-wrap: wrap;
    position: relative;
    /* box-sizing: border-box; */
}

.images {
    width: 30vw;
    border-radius: 10px;
    height: 30vw;
    position: center;
}

.image-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price-detail{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vw;
    background-color: #ffffff;
    height: fit-content;
    width: fit-content;
    border-radius: 10px;
    padding: 12px 4vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    position:relative;
    bottom: 60px;
}

.price-detail button{
    background-color: #6663e9;
    border: none;
    border-radius: 10px;
    padding: 9px 30px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.price-detail p{
    color: #6663e9;
    font-weight: 520;
    font-size: 17px;
}

.first-row :nth-child(2){
    margin-top: 20px;
    /* position: relative; */
}
.first-row :nth-child(3){
    margin-top: 40px;
}

 .second-row :nth-child(1){
    margin-top: 20px;
} 
.second-row :nth-child(2){
    margin-top: 0px;
}
.second-row :nth-child(3){
    margin-top: -20px;
} 
 .third-row :nth-child(2){
    margin-top: 20px;
} 

 .third-row :nth-child(3){
    margin-top:40px;
} 

.modern-trendy{
    display: flex;
    margin-top: 10vh;
    
}

img[alt="modern-trendy"]{
    width: 33vw;
    height: 29vw;
    border-radius: 32px;
    position: center;
    position: absolute;
    left: 8.5vw;
    /* padding-bottom: 15vh; */
     
}
img[alt="modern-trendy-bgi"]{
    width: 45vw;
    height: auto;
}
.modern-trendy-right{
    margin: 2vw 2vw 0vw 6vw;
}
.modern-trendy-right{
    display: flex;
    flex-direction: column;
    gap: 2.3vw;
    margin-top: 5vw;
    /* justify-content: center; */
}
.modern-trendy-right h1{
    font-size: 5vw;
}
.modern-trendy-right p{
    font-size: 1vw;
    font-weight: 450;
    word-wrap: 0.01em;
    letter-spacing: 0.01em;
    word-spacing: 0.2em;
}
.modern-trendy-right button{
    width: 12vw;
    height: 3vw;
    color: white;
    background-color: #6663e9;
    border: none;
    border-radius: 20px;
    font-size: 1.1vw;
    font-weight: 550;
    cursor: pointer;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

img[alt="unique-house-img"]{
    border-radius: 32px;
    height: 29vw;
    width: 32vw;
    position: center;
    position: absolute;
}

img[alt="unique-house-bgi"]{
    width: 45vw;
    height: auto;
}

.unique-house{
    display: flex;
}

.unique-house-right{
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: right;
}


.unique-house-left{
    width: 35vw;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    margin-left: 3vw;
    margin-top: 5vw;
}

.unique-house-left h1{
    font-size: 5vw;
    font-weight: 800;
}
.unique-house p{
    font-size: 1vw;
    font-weight: 450;
    word-wrap: 0.01em;
    letter-spacing: 0.01em;
    word-spacing: 0.2em;
}

.unique-house-left button{
    width: 12vw;
    height: 3vw;
    color: white;
    background-color: #6663e9;
    border: none;
    border-radius: 20px;
    font-size: 1.1vw;
    font-weight: 550;
    cursor: pointer;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

img[alt="unique-house-bgi"]{
    width: 60vw;
    height: 40vw;
}

img[alt="unique-house-img"]{
    height: 32vw;
    width: 35vw;
    position: absolute;
    margin-bottom: 9vw;
    right: 11vw;
    border-radius: 52px;
}

/* css for news letter part  */
.news-letter{
    margin: 5vw 3vw;
    background-color: #6663e9;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 3vw;
    padding-bottom: 3vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.news-letter h1{
    font-size: 4vw;
}
.news-letter p{
    font-size: 1vw;
    font-weight: 450;
    word-wrap: 0.01em;
    letter-spacing: 0.01em;
    word-spacing: 0.2em;
}

.news-letter form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

.mail-section{
    display: flex;
    flex-direction: row;
    background-color: #4542db;
    padding: 0.7vw 2vw;
    gap: 1vw;
    border-radius: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}
.mail-section input{
    background: transparent;
    border: none;
    color: bisque;
    
}

.news-letter button{
    background-color: #ffffff;
    color: #6663e9;
    padding: 0.8vw 1.5vw;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 550;
    border: none;
    cursor: pointer;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* css for footer parts of the realEstate page  */
footer{
    display: flex;
    margin: 5vw;
}
.social-side{
    display: flex;
    flex-direction: column;
    width: 40vw;
    gap: 1.7vw;
}
.social-media{
    display: flex;
    list-style: none;
    gap: 2vw;
}
.social-media img{
    width: 2.8vw;
}
img[alt="logo-image"]{
    width: 10vw;
}
.social-side p{
    font-size: 1vw;
    font-weight: 450;
    word-wrap: 0.01em;
    letter-spacing: 0.01em;
    word-spacing: 0.2em;
}

footer a{
    text-decoration: none;
    color: black;
    font-size: 1vw;
    font-weight: 450;
    word-wrap: 0.01em;
    letter-spacing: 0.01em;
    word-spacing: 0.2em;
}

.nav-links{
    display: flex;
    width: 45vw;
    flex-direction: row;
    justify-content: space-between;
    
}

.nav-location ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.3vw;
}
.nav-contact ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.3vw;
}
.nav-legals ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.3vw;
}
.nav-location ul h3 a{
    font-size: 1.4vw;
}
.nav-contact ul h3 a{
    font-size: 1.4vw;
}
.nav-legals ul h3 a{
    font-size: 1.4vw;
}
 
 